/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
body {
    margin:0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

  
/* HEADER SECTION */
.navbar{
    background-color: #500f35;
    color: #ffffff;
    padding-top: 0px;
    padding-bottom:0px;
    
    border-bottom: 1px solid rgba(255, 255, 255,0.3);
    
}

@media screen and (max-width: 995px ){
    .navbar-brand{
        padding:0px;
    }
    .navbar-nav{
        padding:25px;
        justify-items: center;
        align-items: center;
    }
    
    .donate-btn{
        margin-top: 15px;
        justify-self: center;
        align-self: center;
    }
}


.navbar-toggler{
    border:none;
    outline: none;
    color: #ffffff
    
}

.navbar-toggler:focus{
    outline:none;
    box-shadow: none;
    border:none;
}

.nav-item{
    padding-right: 10px;
   
}

#leggo{
    display: flex;
    align-items: center;
}

.brand{
    margin-left: 7%
    /* made this 7 cos there's still
    going to be a logo for the brand
    before the text */
}


.donate-btn{
    background-color: rgb(11, 158, 11);
    color: #ffffff;
    border-radius: 25px;
    padding: 8px 25px;
    border: none;
    outline: none;
    max-width: 160px;
    transition: all ease 0.35s;
}

.donate-btn:hover{
    cursor: pointer;
    background-color: rgb(14, 187, 14);
    color: #ffffff;
    text-decoration: none;
}

/* HOME SECTION */
.home-section{
    position: relative;
    padding: 200px 0 120px;
    background-image: url('../images/child.jpeg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255,0.8);
    z-index:1;
    animation: slider 30s infinite linear;
    
}

@media screen and (min-width: 995px){
    .home-section{
        margin-top: 20px;
    }
}

@keyframes slider{
    0%{
        background-image: url('../images/background/child.jpeg');
    }
    35%{
        background-image: url('../images/background/children-laughing.jpg');
    }
    75%{
        background-image: url('../images/background/children.jpg');
    }
    100%{
        background-image: url('../images/background/Feeding-Program-2-min.jpg');
    }
}

.home-section::before{
    content: '';
    background-color: #500f35;
    position: absolute;
    left:0;
    top:0;
    opacity: 0.85;
    height: 100%;
    width:100%;
    z-index:-1;
}

.home-text{
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word; 
}

.sub-text{
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    color: #ffffff;
}

.mybtn{
    padding: 12px;
    border: 1px solid gray;
    color: gray;
    margin: 20px 0px;
    transition: all ease 0.35s;
}

.mybtn:hover{
    color: #ffffff;
    border: 1px solid rgb(175, 170, 170);
}

.text-yellow{
    color: yellow
}

.text-aqua{
    color: #05b3b6;
    
    
}

.text-green{
    color: rgb(20, 236, 20);
}



/* About Section */
.about-section{
    padding:50px 20px 50px;
    padding-bottom: 70px;
    background-color: rgb(240, 236, 236);
    color: #222222;
    overflow: hidden;
    
}



.section-title{
    margin-bottom: 40px;
}


.title{
    color: #500f35;
    border-bottom: 3px solid #500f35;
    padding-bottom: 10px;
    width: 200px;
    transition: .3s all ease-in-out;
}

.img{
    margin-top: -70px;
}

.m-nd-v{
    margin: 25px 0 ;
}

/* Team Section */
.team-section{
    padding:50px 50px;
    padding-bottom: 70px;
    background-color: #ffffff;
    color: #ffffff;
    overflow: hidden;
}

.team-members{
    align-content: center;
    justify-content: center;
}

.image-container{
    padding: 20px 0px;
}


.image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #ccc5c5;
}

.image-name{
    color: #500f35;
    padding-top: 10px;
    font-weight: 700;
}

.image-title{
    margin-top: -10px;
    color: #b394a6;
    font-weight: 500;
}

.image-profession{
    margin-top: -12px;
    font-size: 12px;
}

/* Footer Section */

.footer-bgn{
    padding-top: 20px;
    background-color: #500f35;
    color: #ffffff;
}

.go ul li{
    list-style: none
}

.go{
    font-size: 13.5px;
    margin-right: 15px;

}

.go ul{
    display: inline;
}

.ff{
    font-size: 13.5px;
}

.fg{
    display: flex;
    justify-content: space-evenly;
}
.g{
    background-color: white;
    margin-bottom: 0px;
}